div.efilterwidget {
	border: 1px dotted #aaa;
	border-radius: 5px;
	width: 200px;
	padding: 10px;
	display: block;
}

div.efilterwidget ul {
	list-style: none;
	margin: 3px;
	padding: 0px;
}

div.efilterwidget .finder {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #cceeff;
	padding: 5px;
}

div.efilterwidget input.okbutton {
	display: block;
}
